<h1>Student information</h1>

<form action="/Parent/AddStudent" method="post">
    Child's first name: <input type="text" name="studentFirstName" value="" /> <br />
    Child's last name: <input type="text" name="studentLastName" value="" /> <br />
    <button type="submit">Apply</button>
</form>