@model RemoteSchoolWebApp.Models.Parent

<table class="table">
    <thead>
        <tr>
            <th>
                Wiadomość
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Messages.Count == 0)
        {
            <tr>
                <td>
                    No messages to display.
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model.Messages)
            {
                <tr>
                    <td>
                        <h4>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </h4>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

