<h1>Basic information</h1>

<form action="/Parent/ParentInformation" method="post">
    First name: <input type="text" name="parentFirstName" value="" /> <br />
    Last name: <input type="text" name="parentLastName" value="" /> <br />
    <button type="submit">Apply</button>
</form>