<h1>Register Page</h1>

<form action="/Home/Register" method="post">
    Email: <input type="text" name="email" value="" /> <br />
    Password: <input type="password" name="password" value="" /> <br />
    Class: <input type="text" name="className" value=""/> <br/>
    <input type="radio" name="role" value="Parent" checked="checked" /> Parent
    <input type="radio" name="role" value="Teacher" /> Teacher <br />
    <button type="submit">Register</button>
</form>