@model RemoteSchoolWebApp.Models.Class

<table class="table">
    <thead>
        <tr>
            <th>
                Imię i nazwisko
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
            string fullName = item.FirstName + " " + item.LastName;
        <tr>
            <td>
                <a asp-action="StudentDetails" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => fullName)</a>
            </td>
        </tr>
        }
    </tbody>
</table>

