@model RemoteSchoolWebApp.Models.Class

<h1>
    @{
        string welcomeString = "Class: " + Model.Name;
    }
    @Html.DisplayFor(x => welcomeString)
</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Fullname
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Students.Count == 0)
        {
            <tr>
                <td>
                    No students to display.
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model.Students)
            {
                string fullName = item.FirstName + " " + item.LastName;
                <tr>
                    <td>
                        <a asp-action="StudentDetails" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => fullName)</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

